html {
  /* height: 100%; */
  background-image: linear-gradient(#fc5e55, #fa4083);
}

body {
  /* background-color: #FC5E55 ; */
  /* font-family: 'Playfair Display', serif; */
  background-image: url("../Images/image-lion-background.png");
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.125rem;
  /* background-size: cover; */
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: white;
}

.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.nav-bar {
  display: flex;
}
.nav-bar p {
  margin: 5px;
}

main {
  min-height: 300px;
  display: flex;
  align-items: center;
}
.main2{
  min-height: 300px;
  padding-top: 50px;
}
.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.card1 {
  background-image: url("../Images/image-background-card1.jpg");
  min-height: 250px;
  background-size: cover;
  background-position: bottom;
  width: 30%;
}
.card2 {
  background-image: url("../Images/image-background-card2.jpg");
  min-height: 250px;
  background-position: bottom;
  background-size: cover;
  width: 30%;
}
.card3 {
  background-image: url("../Images/image-background-card3.jpg");
  min-height: 250px;
  background-position: bottom;
  background-size: cover;
  width: 30%;
}

.card1,
.card2,
.card3 {
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}
.herobox1 {
  flex: 2;
  padding-right: 100px;
}
.herobox2 {
  flex: 1;
}

h1 {
  font-size: 3.25rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.295);
}
h2 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  margin-top: 20px;
}

p {
  line-height: 1.75rem;
  /* margin-bottom: 0.5rem; */
}

.cards p {
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin: 10px;
}

.cards i {
  font-size: 100px;
}

.mybutton {
  background-color: white;
  color: #fa4083;
  font-family: "Playfair Display", serif;
  padding: 11px 25px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.295);
}

/* .nav-bar a.mybutton{
    margin-left: 30px;
} */

.navbutton {
  border: 1px solid white;
  padding: 11px 25px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 2px;
  margin-left: 5px;
  font-family: "Playfair Display", serif;
  position: relative;

}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
.tbox {
  width: 47%;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 50px;
}

.tbox p:last-of-type{
    font-size: .8rem;
    padding-left: 30px;
}

.dropdown{
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  text-align: center;
  margin-left: -25px;
}

.navbutton:hover .dropdown {
  display: block;
}

.dropdown .navbutton {
  margin-top: 0px;
  width: 120px;
  /* background-color: white;
  color: #fa4083; */
}
.dropdown .navbutton:hover {
  background-color: white;
  transition: 1s;
}
.dropdown .navbutton a{
  color: #fa4083;
}

.inputwrapper{
  margin-top: 20px;
  margin-bottom: 30px;
}

input[type=text],input[type=email],textarea{
  padding: 12px 20px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  box-sizing: border-box;
}

.newline{
  display: block;
  margin-bottom: 10px;
}

.margin-right-a{
  margin-right: 20px;
}

input[type=radio]{
  margin-right: 10px;
}

form{
  margin:40px 0px;
}